<div class="container" id="achievements" data-aos="fade-up" data-aos-easing="ease-out-cubic">
  <h1>Achievements</h1>
  <ul>
    <li>Awarded the Best Outgoing Student in Std.10</li>
    <li>Spearheaded a workshop on Bluetooth based Robotic car</li>
    <li>Spearheaded a workshop on IoT controlled robotic car</li>
    <li>Became the finalist of Smart India Hackathon </li>
    <li>Winner of several prizes for cultural events in school and college level</li>
  </ul>
</div>
<div class="container" data-aos="fade-up" data-aos-easing="ease-out-cubic">
  <h1>My works</h1>
  <div class="row" id="myworks">
    <div class="col" id="myworks">
      <div class="row">
        <div class="col" id="myworkdata">
          <a href="https://www.youtube.com/channel/UCrdZeSlrd5uFj2L7QpruAyw"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>You tube Channel</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col" id="myworkdata">
          <a href="https://brainstack.netlify.com/"><i class="fas fa-paint-brush"></i> </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>
            Webpages designed
          </h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col" id="myworkdata">
          <img src="assets/images/coverdesign.png" alt="" id="bookcover">
          <img src="assets/images/book2.svg" alt="" id="bookcover">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Book covers designed</h5>
        </div>
      </div>
    </div>
  </div>

</div>