<div class="jumbotron jumbotron-fluid">
  <div class="container" id="details">
    <p class="lead">Hi,I am</p>
    <h1 class="display-2">M.Sharath</h1>
    <p class="lead">Web Designer</p>
  </div>
</div>
<div class="container container-fluid" data-aos="fade-up" data-aos-easing="ease-out-cubic">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/images/profilepic.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>Name </b>M.Sharath</h5>
          <h5 class="card-title"><b>Phone </b>+91 99625 19987</h5>
          <h5 class="card-title"><b>Email </b>sharathdesignsofficial@gmail.com</h5>
          <p class="card-text">To enhance my knowledge in innovative technology applications and to develop world class
            solutions to real world challenges through a career in innovative companies so that I could be a
            positive asset to my Organization and mutually grow with it.</p>
        </div>
      </div>
    </div>
  </div>
</div>
